<div class="row">
  <h2>
    Home PAGE! but different?
    <button ng-click="loadPosts()" type="button" class="btn btn-success glyphicon glyphicon-refresh pull-right"></button>
    <button ng-click="createPost()" type="button" class="btn btn-primary glyphicon glyphicon-thumbs-up pull-right"></button>
  </h2>
  <div class="col-sm-8">
    This is my left Column
    <table class="table table-condensed table-hover">
      <thead>
        <tr>
          <th>Id</th>
          <th>Title</th>
          <th>Created</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="post in posts">
          <td>{{post.id}}</td>
          <td><a ng-href="/post/{{post.id}}">{{post.title}}</a></td>
          <td>{{post.createdAt}}</td>
          <td>
            <button ng-click="deletePost(post.id)" type="button" class="btn btn-danger btn-xs glyphicon glyphicon-trash"></button>
            <button ng-click="showPost(post.id)" type="button" class="btn btn-primary btn-xs glyphicon glyphicon-eye-open"></button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-sm-4">
    This is my right Column
  </div>
</div>